.hexagonUI {
  animation: slide-in 1.5s ease-out forwards;
  background-color: var(--light-taupe);
  border: var(--thick-grey-border);
  border-radius: 4px;
  cursor: pointer;
  left: 10px;
  line-height: 1.4;
  padding: 10px 15px;
  position: absolute;
  top: 7.5rem;
  width: 17.5rem;
}

.hexagonUI button {
  background-color: var(--white);
  border: var(--standard-grey-border);
  cursor: pointer;
  font: inherit;
  margin-top: 5px;
  padding-bottom: 2px;
  padding-top: 3px;
  text-align: center;
  width: 100%;
}

.hexagonUI button:hover {
  background-color: var(--dark-taupe);
  color: var(--white);
  text-shadow: var(--black-text-shadow);
}

.hexagonUI header {
  font-size: 1.85rem;
  font-weight: bold;
  text-align: center;
  text-shadow: var(--cream-text-shadow);
}

.hexagonUI input {
  cursor: pointer;
  width: 100%;
}

.hexagonUI label {
  cursor: pointer;
  text-shadow: var(--cream-text-shadow);
}

.hexagonUI span {
  color: var(--white);
  text-shadow: var(--black-text-shadow);
}

@keyframes slide-in {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(0);
  }
}
