:root {
  --black: rgb(0, 0, 0);
  --black-alpha-3: rgba(0, 0, 0, 0.3);
  --cream: rgb(220, 210, 200);
  --light-cream: rgb(240, 230, 220);
  --grey: rgb(187, 187, 187);
  --taupe: rgb(140, 130, 120);
  --light-taupe: rgb(160, 150, 140);
  --dark-taupe: rgb(120, 110, 100);
  --white: rgb(255, 255, 255);

  --black-text-shadow: 1px 1px 2px var(--black);
  --black-bold-text-shadow: 2px 2px 2px var(--black);
  --cream-text-shadow: 1px 1px 2px var(--cream);

  --standard-grey-border: 2px solid var(--grey);
  --thin-grey-border: 1px solid var(--grey);
  --thick-grey-border: 3px solid var(--grey);
}

html {
  background-color: var(--light-taupe);
  box-sizing: border-box;
  font-size: 62.5%;
  overflow: hidden;
}

body {
  color: var(--black);
  font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

html,
body,
canvas {
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

html,
body,
button,
canvas,
div,
footer,
header,
img,
input,
label,
li,
select,
span,
ul {
  margin: 0;
  padding: 0;
}

label.props.mouseover {
  color: var(--white);
  text-shadow: var(--black-text-shadow);
}

.mapboxgl-marker.office {
  background-image: url('@/assets/office.png');
  height: 25px;
  width: 22px;
}

.mapboxgl-marker.places {
  background-image: url('@/assets/places.png');
  height: 25px;
  width: 22px;
}

.mapboxgl-marker.trails {
  background-image: url('@/assets/trails.png');
  height: 25px;
  width: 22px;
}

.mapboxgl-popup {
  max-width: 250px;
}

.mapboxgl-popup-content > div.bold {
  font-weight: bold;
}
